@import 'nib'

body
  font-family Helvetica Neue, Helvetica, sans-serif
  height: 100%
  margin: 0
  -webkit-font-smoothing: antialiased

input
  font-family Helvetica Neue, Helvetica, sans-serif

.icon-wrapper
  width 300px
  margin 0 auto
  text-align center
  margin-bottom: 30px

input-style()
  text-align: center
  color: hsl(0, 0%, 95%)
  font-family Helvetica Neue, Helvetica, sans-serif
  font-size: 16px
  font-size: 1.6rem
  font-weight: bold
  width 100%
  padding 5px 10px
  box-sizing border-box


// Container Height = 95px
.container
  position: relative
  top: 50%
  margin-top: -150px
  transition: .3s cubic-bezier(0.860, 0.000, 0.070, 1.000)
  -webkit-perspective: 1000
  -webkit-transform-style: preserve-3d
  -webkit-transition: -webkit-transoform .3s cubic-bezier(0.860, 0.000, 0.070, 1.000)

  &:target
    -webkit-transform: rotateY(180deg)
    .card
      pointer-events: none
    .front
      opacity: 0
      pointer-events: none

    .back
      opacity: 1
      pointer-events: auto
  
  .card
    -webkit-animation-name: bounceInDown
    -webkit-animation-fill-mode: backwards
    -webkit-animation-duration: 1s
    -webkit-animation-delay: 1s
    -webkit-transition: .3s cubic-bezier(0.860, 0.000, 0.070, 1.000)
    position: relative
    width: 360px
    height: 300px
    margin: 0 auto
    background-image: url("../images/bg.png")
    border: 1px solid hsl(0, 0%, 80%)
    box-shadow: 0 1px 5px hsla(0, 0%, 0%, .2)
    border-radius: 3px
    transition: top .3s
    box-sizing: border-box
    padding: 30px
    padding-top: 75px
    .icon-cog
      position: absolute;
      right: -70px;
      top: 65px;
      opacity: .6;

      svg
        width: 25px
        height: 25px

    .front
      -webkit-transition: opacity .3s cubic-bezier(0.860, 0.000, 0.070, 1.000)
      
    .back
      position: absolute
      top: 0
      left: 0
      width: 100%
      -webkit-transition: opacity .3s cubic-bezier(0.860, 0.000, 0.070, 1.000)
      -webkit-transform: rotateY(180deg)
      -webkit-backface-visibility: hidden;

      ul
        margin: 0
        padding: 0
        li
          list-style: none
          margin: 0
          padding: 0
      
  &.ready
    margin-top: -150px
    .card
      -webkit-transition: .3s cubic-bezier(0.860, 0.000, 0.070, 1.000)
      padding-top: 50px
    .button-wrapper
      transform rotate(0deg) scale(1)

  &.fetching
    -webkit-transform-style: initial
    #twitter-form
      .loader
        opacity: 1
        transform: scale(1)

      .field-wrapper
        transform: translateZ(500px)
        opacity: 0
      .button-wrapper
        transform: translateZ(500px)
        opacity: 0

  &.view
    margin-top: 0
    top: 0
    text-align: center
    .home
      opacity: .6
    .card
      opacity: 0
      pointer-events: none
      -webkit-animation: none

    a[href="#settings"]
      opacity: 0
      pointer-events: none
    form
      opacity: 0
      pointer-events: none
    
    
  .button-wrapper
    transform rotate(-360deg) scale(0.01)
    transition-property: opacity, -webkit-transform
    transition-duration: 1s

  .home
    position: fixed
    left: 20px
    top: 15px
    opacity: 0;
    svg
      height: 16px
      width: 16px

#twitter-form
  position: relative
  width 300px
  margin 0 auto
  transition: .3s cubic-bezier(0.860, 0.000, 0.070, 1.000)

  .field-wrapper
    position relative
    transition: .3s cubic-bezier(0.860, 0.000, 0.070, 1.000)
    &.state-focus
      label
        opacity: .3
    
    &.state-valid
      label
        opacity: 0

    #screen-name
      input-style()
      outline: none
      border-radius 2px
      border: none
      background: hsla(0, 0%, 0%, .15)
      box-shadow 0 1px 2px hsla(0, 0%, 0%, .3) inset, 0 0px 3px hsla(0, 0%, 100%,1)
      text-shadow 0 1px 4px rgba(0, 0, 0, 0.4)
      border-bottom: 1px solid white

    label[for=screen-name]
      position absolute
      top 1px
      left 0
      input-style() 
      display: inline-block
      transition opacity .2s cubic-bezier(0.860, 0.000, 0.070, 1.000)
      background: hsla(0, 0%, 0%, 0)
      text-shadow 0 1px 4px rgba(0, 0, 0, 0.4)

  .loader
    position: absolute
    top: 20px
    left: 90px
    text-align center
    opacity: 0
    transform: scale(.01)
    transition: 1.5s .1s cubic-bezier(0.860, 0.000, 0.070, 1.000)
    pointer-events: none
    canvas
      display: inline-block
    p
      margin-top: 15px
      color: hsl(0, 0%, 38%)


  a[data-type="submit"]
    font-size: 20px
    font-size: 2.0rem
    font-weight: bold

  .button-wrapper
    position relative
    height: 50px
    width: 50px
    border-radius: 50%
    background-image linear-gradient(top, hsla(0, 0%, 95%, 1), hsla(0, 0%, 83%, 1) )
    margin: 30px auto
    margin-top: 50px
    box-sizing border-box
    box-shadow: 0 1px 1px hsla(0, 0%, 0%, .1), 0 0px 5px 1px hsla(0, 0%, 100%, .85) inset
    transition: .3s cubic-bezier(0.860, 0.000, 0.070, 1.000)
    &:active
      background-image linear-gradient(top, hsla(0, 0%, 80%, 1), hsla(0, 0%, 85%, 1) )
      box-shadow: 0 1px 5px hsla(0, 0%, 0%, .8) inset
      svg *
        fill: hsl(215, 140%, 50%)

    &::before
      content: ''
      width: 70px
      height: 70px
      top: -11px
      left: -11px
      position: absolute
      border-radius: 50%
      background-image linear-gradient(top, hsla(0, 0%, 80%, .6), hsla(0, 0%, 90%, .6) )
      box-shadow: 0 -1px 0px hsla(0, 0%, 100%, .8), 0 1px 1px hsla(0, 0%, 0%, .1)
      z-index: -1

    .icon-wrapper
      margin-top: 0px
      svg
        cursor: pointer
        position: absolute
        top: 0px
        left: 0px
        height: 30px
        width: 30px
        margin-left: 10px
        margin-top: 10px
        opacity: .8
    input
      cursor: pointer
      top 0
      left 0
      position: absolute
      border: none
      background: none
      width: 100%
      height: 100%

screen-string()
  content: ''
  height: 10px
  width: 3px
  display: block
  position: absolute
  top: -10px
  z-index: -1
  background: grey
  
#screen-name-container
  position: fixed
  top: 10px
  text-align: center
  width: 100%
  .inner
    display: inline-block
    padding: 5px 11px 5px 10px
    background: hsla(0, 0%, 100%, 1)
    border-radius: 3px
    box-shadow: 0 6px 10px hsla(0, 0%, 0%, 0.1)
    position: relative
    &::before
      screen-string()
      left: 15px
    &::after
      screen-string()
      right: 15px

    #icon-twitter
      display: inline-block
      width: auto
      margin-right: 5px
      margin-bottom: 0
      
    a
      text-decoration: none
      position: relative
      display: inline-block
      top: -3px
      font-weight: bold
      color: hsl(0, 0%, 38%)

#stage
  -webkit-transition: .3s .1s cubic-bezier(0.860, 0.000, 0.070, 1.000)
  -webkit-perspective: 800
  -webkit-transform-style: preserve-3d
  position: relative
  width: 500px
  margin: 0 auto
  &.normal-view
    left: 0 !important
    top: 80px !important
  ::selection
    background: black
    color: white
  .tag
    font-size: 30px
    font-weight: bold
    position: absolute
    font-family: 'AXIS Std'
    font-weight: 900
    opacity: 0
    display: inline-block
    line-height: 1em;
    -webkit-transform-origin: 0 0
    -moz-transform-origin: 0 0
    top: 0
    left: 0
    &.ready
      -webkit-transition-property: -webkit-transform, top, opacity;
      -webkit-transition-duration:.3s, .3s, .3s;
      -webkit-transition-timing-function: cubic-bezier(0.860, 0.000, 0.070, 1.000)
      -moz-transition-property: -moz-transform, top, opacity;
      -moz-transition-duration:.3s, .3s, .3s;
      -moz-transition-timing-function: cubic-bezier(0.860, 0.000, 0.070, 1.000)
    >span
      position: absolute
      top: 0px
      left: 0
      -webkit-text-fill-color: transparent
      text-shadow: 0 0 3px hsla(0, 0%, 0%, .4)
  .debug
    position: absolute
    outline: 1px solid red

    &::before
      position: absolute;
      content: attr(id);
      top: -10px;
      left: 0px;

  #hit-test
    opacity: 0

#font-list
  width: 200px
  position: absolute
  top: 0
  left: 0
  opacity: 0

#uniform-font-list
  display: inline-block
  background-color: hsl(0, 0%, 92%)
  border: 1px solid hsl(0, 0%, 78%)
  border-radius: 3px
  box-shadow: 0 1px 1px hsla(0, 0%, 100%, .3) inset, 0 1px 3px hsla(0, 0%, 0%, .1)
  font-size: 16px
  font-weight: bold
  overflow: hidden
  position: relative
  padding: 3px 5px
  width: 210px
  span
    pointer-events: none

footer
  position: fixed
  bottom: 0
  height: 40px
  width: 100%
  .font-plus
    position: absolute

  a.link
    text-decoration: none
    font-size: 12px
    color: hsla(0, 0%, 0%, .7)
    font-weight: bold
    display: inline-block
    &:hover
      color: hsla(0, 0%, 0%, 1)
    
    &[href="#what"]
      position: absolute
      left: 30px

    &[href="#like"]
      position: absolute
      right: 30px
  
  #what
    height: 30px
    position: absolute
    left: 0px
    bottom: 0px
    box-shadow: -10px 0 10px hsla(0, 0%, 100%, 1)
    margin-left: 0
    padding: 15px
    z-index: 1
    width: 250px
    -webkit-transform: translate3d(-280px, 0, 0)
    transition: .5s cubic-bezier(0.860, 0.000, 0.070, 1.000)

    &:target,
    &.hover
      -webkit-transform: translate3d(0px, 0, 0)
    a
      margin-left: 15px

    span.cancel
      position: absolute
      bottom: 20px
      left: -10px
      text-decoration: none
      display: none
      a
        font-size: 20px

  #like
    height: 75px
    position: absolute
    right: 0px
    bottom: -30px
    background: hsl(0, 0%, 100%)
    box-shadow: -10px 0 10px hsla(0, 0%, 100%, 1)
    margin-left: 0
    padding: 15px
    z-index: 1
    -webkit-transform: translate3d(250px, 0, 0)
    transition: .5s cubic-bezier(0.860, 0.000, 0.070, 1.000)

    &:target,
    &.hover
      -webkit-transform: translate3d(0px, 0, 0)

    li.cancel
      position: absolute
      bottom: 25px
      right: 28px
      text-decoration: none
      display: none
      a
        font-size: 20px
    li
      display: block
      list-style: none
      margin-bottom: 9px

#view-mode
  width: 16px
  height: 16px
  border: 1px solid hsl(215, 140%, 50%)
  position: relative;
  -webkit-transform: rotate(60deg) skew(0deg, -30deg) scale(1, 1.16);
  -webkit-transition: .3s cubic-bezier(0.860, 0.000, 0.070, 1.000)
  position: fixed
  top: 20px
  right: 20px
  opacity: 0
  display: block
  &.ready
    opacity: .3
    .arrow
      opacity: 1
      -webkit-transform: translate3d(0, 0, 0)
      pointer-events: none
  &:hover
    opacity: .5
  &.normal-view
    -webkit-transform: rotate(0deg) skew(0deg, 0deg) scale(1, 1);
  .row
    position: absolute
    width: 33%
    height: 100%
    border-right: 1px solid hsl(215, 140%, 50%)
    display: block
  .row.two
    left: 33%

  .col
    position: absolute
    width: 100%
    height: 33%
    border-bottom: 1px solid hsl(215, 140%, 50%)
    display: block
  .col.two
    top: 33%

  .arrow
    position: absolute
    left: -80px
    top: 30px
    opacity: 0
    -webkit-transition: -webkit-transform .3s cubic-bezier(0.860, 0.000, 0.070, 1.000)
    -webkit-transform: translate3d(-50px, 50px, 0)


@-webkit-keyframes bounce
  0%
    -webkit-transform: rotate(90deg) translate3d(0px, 0, 0)
    -webkit-animation-timing-function: ease-out

  50%
    -webkit-transform: rotate(90deg) translate3d(-10px, 0px, 0)
    -webkit-animation-timing-function: ease-in

  100%
    -webkit-transform: rotate(90deg) translate3d(0, 0, 0)

.link.me
  display: block
  margin: 0 auto
  width: 30px
  text-align: center
  -webkit-transform: rotate(90deg)
  background: white
  opacity: .5
  -webkit-font-smoothing: antialiased

.link.me:hover
  -webkit-animation: bounce 0.6s infinite
  opacity:1
@css {
  @-moz-document url-prefix(){
    .container * {
      display: none;
    }
    footer{
      display: none;
    }
    .container{
      height: 100%;
      margin: 0;
      top: 0;
      text-align: center;
    }
    body, html{
      height: 100%;
    }

    body::before{
      content: '';
      display: block;
    }

    .container::before{
      position: relative;
      content: 'Safari & Chrome Only :[';
      font-weight: bold;
      font-size: 18px;
      color: black;
      letter-spacing: -0.03em;
      font-family: Helvetica, sans-serif;
      top: 50%;
      display: inline-block;
      margin-top: -20px;
      background: white;
      z-index: 2;
      padding-right: 20px;
      padding-left: 20px;
    }

    .container::after{
      content: '';
      display: block;
      width: 50%;
      left: 25%;
      height: 3px;
      border: 1px solid black;
      border-right: none;
      border-left: none;
      background: transparent;
      top: 50%;
      position: absolute;
      margin-top: 8px;
      z-index: -1;
    }

  }
}
